.voting-options{
  color: #1C4E81;
  align-items: end;

}

.radio{
  border-color: var(--primary_blue) !important;
 /*  display: grid !important; 
    grid-template-columns: 1fr 40% 50%;
    gap: 40px; */
  }


.radio[data-checked]{
  border-color: var(--secondary_darkblue) !important;
  background-color: var(--secondary_darkblue) !important;

}



.radio-group{
border-top: solid 1px #00000046;
border-left: solid 1px #00000046;
border-right: solid 1px #00000046;
margin-bottom: 2rem;

}

.voting-option {
margin: 0 !important;
border-bottom: solid 1px #00000046;
}

.voting-option:hover{
  background-color: var(--secondary_blue);
}

.voting-option>label{
  display: grid ;
  grid-template-columns:  1fr 7fr ;
  height: 100%;
  padding: 3rem 2rem 3rem 3rem;

}

.voting-option>label>span:last-child{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
} 



.header-bottom-line {
  border-bottom: solid 5px var(--primary_blue);
  padding-bottom: 3rem;
}



/* PopOver */
.no-button {
border: 1px solid #1c4e81 !important;
margin-right: 1rem;
color: #1c4e81;
font-size: 1rem !important;
font-weight: 600;
width: 2rem !important;
padding-left: 1.5rem !important;
padding-right: 1.5rem !important;
padding-top: 1.2rem !important;
padding-bottom: 1.2rem !important;
position: relative !important;
top: 0 !important;
}