.verification-code-box {
  background-color: var(--secondary_blue);
  padding: 2rem;
  border-radius: 5px;
  justify-content: center;
  margin-top: 2rem;
  align-content: center;
}

.pdf-download-wrapper {
  display: flex;
  align-items: center;
}

.qr-generator-wrapper {
  visibility: hidden;
  height: 0px;
  width: 0px;
}
