@media (max-width: 960px) {
  .result-grid {
    grid-template-columns: 1fr !important;
    grid-template-rows: max-content 1fr !important;
    padding-bottom: 2rem;
    padding-top: 2rem;
    justify-items: center;
  }

}

@media (min-width: 960px) {
  .result-grid {
    grid-template-columns: 1fr 1fr;
    padding-top: 3rem;
    margin-bottom: 2rem;
    padding-bottom: 4rem;
  }
}
.result-grid {
  gap: 10px;
  border-bottom: solid 1px #d9d9d9;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

}

.result-grid:last-child {
  border-bottom: 0px !important;
}

.error-text-bb {
  display: none;
  color: var(--secondary-darkred);
  margin-top: 0;
}

.verification-code-bb {
  color: var(--primary_blue);
  font-weight: 600;
}

.accordion-button {
  flex: 1;
  text-align: left;
  font-weight: 600;
}

/* Individual Vote Verification */
.individual-vote-display {
  color: var(--primary_blue);
  font-weight: 600;
  font-size: 1.2rem;
  padding: 3rem 1rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  border: solid 1px var(--light_grey);
  display: flex;
  justify-content: center;
}

.link-bold {
  color: var(--primary_blue) !important;
  text-decoration: underline !important;
  font-weight: 600;
}

.verification-code-individual-page {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--primary_blue);
}


/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
